header{
	display: flex;
	flex-direction: column;
	text-align: center;
	background-image: url(img/banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 480px;
}

header ul{
	list-style-type: none;
	font-size: 30px;
}